.storedServers{
    top:100px;
    height:500px;
    width:50%;
    left:auto;
    position:absolute;
}

.storedServers fieldset{
    margin:20px;
    border-radius:4px;
    border-width:1px;
    background:rgba(255,255,255,.1);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4),
        inset 0px 1px 3px 1px rgba(82, 170, 224, 0.4);
}

.storedServers legend{
    font-weight:bold;
    font-size:18px;
    color:rgba(255,255,255,.8);
}

.storedServers ul{
    padding:5px;
    margin:5px;
    list-style:none;
    font-size:16px;
}

.storedServers button{
    height: 25px;
    position: absolute;
    right: 23px;
}

.storedServers li{
    cursor:pointer;
    height:40px;
    width:calc( 100% - 40px );
    line-height:40px;
    font-size:20px;
    font-family:helvetica, arial, verdana;
    padding:0 10px;
    margin:10px;
    border-radius:4px;
    border:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3),
        inset 0px 1px 6px 1px rgba(82, 170, 224, 0.3);
    background-color:rgba(255,255,255,.2);
    transition:background-color 500ms;
}